.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;

  figure {
    margin: 0;
    width: fit-content;
    display: inline-block;
    max-width: 88px;
    max-height: 31px;

    img {
      max-width: 88px;
      max-height: 31px;
    }
  }

  a::after,
  a::before {
    display: none !important;
  }

  p {
    display: inline-flex;
    width: 88px;
    height: 31px;
    border: 2px dashed;
    border-color: var(--color-border);
    border-color: light-dark(var(--color-border), var(--dark-color-border));
    font-size: 0.5em;
    white-space: nowrap;
    margin: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &:hover {
      background: var(--color-link);
      background: light-dark(var(--color-link), var(--dark-color-link));

      a {
        color: #fff;
      }
    }

    a {
      color: var(--color-text);
      color: light-dark(var(--color-text), var(--dark-color-text));
      text-decoration: none;

      &:hover {
        background: none;
      }
    }
  }
}
