.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;

  figure {
    margin: 0;
    width: fit-content;
    display: inline-block;
    max-width: 88px;
    max-height: 31px;

    img {
      max-width: 88px;
      max-height: 31px;
    }
  }

  /* style inspired by https://indieweb.social/@sstephenson/116098428280403793 */
  p {
    display: inline-flex;
    width: 88px;
    height: 31px;
    border: outset 5px #aaa;
    font-size: .55rem;
    white-space: nowrap;
    margin: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #ccc;
    font-weight: 900;

    a {
      color: blue;
      text-decoration-thickness: 1px;
      text-underline-offset: unset;

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }
}
