.figure-number {
  display: none;
}

.filter {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.2rem;

  & label,
  input {
    cursor: pointer;
  }
}

#content:has(#filter-shared:checked) figure:has(a[href*="images\/album"]) {
  display: none;
}

.album-wall {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(20px * 14));
  gap: 0 1.5rem;
  justify-content: center;
  width: 99vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -49.5vw;
  margin-right: -49.5vw;

  @media screen and (width <= 1920px) {
    grid-template-columns: repeat(auto-fill, calc(20px * 12));
  }

  @media screen and (width <= 800px) {
    grid-template-columns: repeat(auto-fill, calc(20px * 10));
  }

  @media screen and (width <= 600px) {
    gap: 0 1rem;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
  }

  @media screen and (width <= 480px) {
    grid-template-columns: repeat(2, calc(20px * 8));
    gap: 1rem 0.5rem;
  }

  @media (pointer: fine) and (hover: hover) {
    & figure {
      &:hover {
        transform: rotate(0);
        z-index: 1;
        filter: grayscale(0) sepia(0) blur(0);

        & figcaption {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  p {
    display: none;
  }

  & figure {
    margin: 0;
    position: relative;
    transform: perspective(500px) rotateX(5deg) rotateY(-5deg) rotateZ(1deg);
    transition:
      transform 0.25s ease-in-out,
      opacity 0.8s ease-in-out,
      filter 1.5s ease-in-out,
      display 0.25s allow-discrete ease-in-out;
    transform-origin: center bottom;
    filter: grayscale(0.95) sepia(.05) blur(.55px);

    & figcaption {
      transition:
        transform 0.25s ease-in-out,
        opacity 0.25s ease-in-out;
      transition-delay: 0.5s;
      opacity: 0;
      transform: translateY(-25%);
    }

    @starting-style {
      opacity: 0;
    }

    @media screen and (width <= 400px) {
      transform: unset;
      filter: none;

      & figcaption {
        opacity: 1;
        transform: none;
      }
    }
  }

  & img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    box-shadow: -5px 5px 5px var(--color-box-shadow) !important;
    border-radius: 3px;
  }
}

.album-wall {
  @media screen and (width <= 400px) {
    & figure:nth-child(even) {
      animation: album-reveal-even;
      animation-timeline: view();
      animation-fill-mode: both;
      animation-range-start: entry 5%;
      animation-range-end: entry 80%;
    }

    & figure:nth-child(odd) {
      animation: album-reveal-odd;
      animation-timeline: view();
      animation-fill-mode: both;
      animation-range-start: entry 10%;
      animation-range-end: entry 80%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .album-wall.album-wall figure  {
    filter: none;
    animation: none;
  }
}

@keyframes album-reveal-even {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: unset;
    opacity: 1;
  }
}

@keyframes album-reveal-odd {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: unset;
    opacity: 1;
  }
}
