.figure-number {
  display: none;
}

#postamble::before {
  content: "take a sad song and make it better";

  @media screen and (width <= 400px) {
    font-size: 0.8rem;
  }
}

p.verse {
  border: none;
  padding: 0;
}

:is(.footpara, .sidenote-content) p.verse {
  padding: 0;
}

.sidenote {
  font-size: 0.95rem;
}

img[src*="images\/album"] {
  border-radius: 10px;

  @media (prefers-color-scheme: light) {
    box-shadow: 5px 2px 5px var(--color-box-shadow);
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 10px var(--dark-color-box-shadow);
  }
}

.light img[src*="images\/album"] {
  box-shadow: 5px 2px 5px var(--color-box-shadow);
}

.dark img[src*="images\/album"] {
  box-shadow: 0 0 10px var(--dark-color-box-shadow);
}

details figure:has(a[href*="lucida"]) {
  margin-block: 0;
}

.album-lucida {
  display: flex;
  gap: .5rem;

  /* 移除 org publish 生成的多余的 <p> */
  & p {
    display: none;
  }
}

.lyrics {
  & i {
    color: var(--color-text);
    color: light-dark(var(--color-text), var(--dark-color-text));
  }
}

.lyrics--cute i {
  font-family: Schoolbell, var(--font-family);
}

.lyrics--color {
  color: var(--color-lyrics);
  color: light-dark(var(--color-lyrics), var(--dark-color-lyrics));
}

.lyrics--small {
  font-size: 0.8rem;
}

.lyrics--large {
  font-size: 1.2rem;
}

.lyrics--huge {
  font-size: 1.5rem;
}
