.figure-number {
  display: none;
}

.album-rank {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(20px * 10));
  gap: 1.5rem;
  justify-content: space-around;
  margin-block-start: 1rem;

  @media screen and (width <= 480px) {
    grid-template-columns: repeat(2, calc(20px * 8));
    gap: 1rem 0.5rem;
  }

  p {
    display: none;
  }

  & figure {
    margin: 0;
    transform-origin: center bottom;

    &:nth-child(even) {
      transform: rotateY(-2deg) rotateZ(.5deg);
    }

    &:nth-child(odd) {
      transform: rotateY(2deg) rotateZ(-.5deg);
    }

    & figcaption {
      color: var(--color-text-secondary);
      color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));

      & b {
        color: var(--color-text);
        color: light-dark(var(--color-text), var(--dark-color-text));
      }
    }
  }

  & a {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    position: relative;

    @media (pointer: fine) and (hover: hover) {
      &:hover::after {
        transform: translateX(15%);
        opacity: 1;
      }

      &:hover img {
        transform: translateX(-10%);
      }

      &::after {
        transition:
          transform .55s ease-in-out,
          opacity .55s ease-in-out;
        content: "";
        display: inline-block;
        width: 95%;
        height: 95%;
        opacity: 0;
        background:
          conic-gradient(
            from 15deg at 50% 50%,
            transparent 0deg,
            oklch(1 0 0 / .2) 25deg,
            oklch(1 0 0 / .35) 45deg,
            oklch(1 0 0 / .2) 60deg,
            transparent 80deg,
            transparent 185deg,
            oklch(1 0 0 / .2) 195deg,
            oklch(1 0 0 / .35) 220deg,
            oklch(1 0 0 / .2) 240deg,
            transparent 260deg
          ),
          radial-gradient(
            circle at 50% 50%,
            oklch(1 0 0 / .8) 0%,
            oklch(1 0 0 / .8) 10%,
            transparent 10.1%,
            transparent
          ),
          repeating-radial-gradient(oklch(0 0 0) 0px, oklch(.4 0 0) 4px);
        position: absolute;
        inset-block-start: 5%;
        inset-inline-start: 5%;
        border-radius: 100%;
        z-index: -1;
      }
    }
  }

  & img {
    transition: transform 0.55s ease-in-out;
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    box-shadow: 5px 5px 5px var(--color-box-shadow) !important;
    border-radius: 3px;
  }
}

.album-wall {
  @media screen and (width <= 400px) {
    & figure:nth-child(even) {
      animation: album-reveal-even;
      animation-timeline: view();
      animation-fill-mode: both;
      animation-range-start: entry 5%;
      animation-range-end: entry 80%;
    }

    & figure:nth-child(odd) {
      animation: album-reveal-odd;
      animation-timeline: view();
      animation-fill-mode: both;
      animation-range-start: entry 10%;
      animation-range-end: entry 80%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .album-wall.album-wall figure  {
    filter: none;
    animation: none;
  }
}

@keyframes album-reveal-even {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: unset;
    opacity: 1;
  }
}

@keyframes album-reveal-odd {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: unset;
    opacity: 1;
  }
}
