.figure-number {
  display: none;
}

a::before,
a::after {
  display: none!important;
}

.album-wall {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(1em - 10px) 1em;
  justify-content: center;
  max-width: max-content;

  @media screen and (width <= 400px) {
    gap: min(calc(.5em - 10px), .5em) .5em;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (pointer: fine) and (hover: hover) {
    & figure {
      &:hover {
        transform: rotate(0);
        z-index: 1;

        &::after {
          opacity: 0;
        }

        &:has(a[href*="music.163.com"]) {
          opacity: 1;

          &::after {
            opacity: 0.15;
          }
        }
      }
    }
  }

  p {
    display: none;
  }

  & figure {
    margin: 0;
    position: relative;
    transform: perspective(500px) rotateX(5deg) rotateY(-5deg) rotateZ(1deg);
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
    transform-origin: center bottom;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95%;
      background-image: url("/images/common/album-cover.png");
      background-size: contain;
      pointer-events: none;
      transition: opacity .25s ease-in-out;
      opacity: 0.15;
    }

    &:has(a[href*="music.163.com"]) {
      opacity: 0.8;
    }

    @media screen and (width <= 400px) {
      transform: unset;

      &::after {
        opacity: 0;
      }
    }
  }

  & img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    box-shadow: -5px 5px 5px var(--color-box-shadow)!important;
    border-radius: 0;
  }
}
