hr:nth-of-type(odd):before {
  content: '𝄞' ;
}

hr:nth-of-type(even):before {
  content: '𝄢' ;
}

#postamble::before {
  content: 'take a sad song and make it better';

  @media screen and (width <= 400px) {
    font-size: 0.8em;
  }
}

p.verse {
  font-family: var(--font-family-lyrics);
  border: none;
  padding: 0 1.2em;
}
