@import "../fonts/I.Ming/result.css";
@import "../fonts/Huiwen-mincho/result.css";

.figure-number {
  display: none;
}

hr:nth-of-type(odd):before {
  content: '𝄞' ;
}

hr:nth-of-type(even):before {
  content: '𝄢' ;
}

#postamble::before {
  content: 'take a sad song and make it better';

  @media screen and (width <= 400px) {
    font-size: 0.8em;
  }
}

p.verse {
  font-family: var(--font-family-lyrics);
  border: none;
  padding: 0 1.2em;
}

.sidenote-content p.verse {
  padding: 0 0.5em;
}

:root {
  --font-family-album-title:
    "Special Elite",
    "Huiwen-mincho",
    var(--font-family-lyrics);
}

.title {
  margin-block: 0em;
  margin-block-start: .2em;
  font-family: var(--font-family-album-title);
  font-size: 2.5em;
}

.subtitle {
  font-size: 1.5em;
  margin-block: 0;
  font-family: var(--font-family-album-title);
}
