.org-comment {
  color:#7f0000;
  color:light-dark(#7f0000,#c0a38a);
  font-style:italic;
}

.org-comment-delimiter {
  color:#7f0000;
  color:light-dark(#7f0000,#c0a38a);
  font-style:italic;
}

.org-diff-added {
  color:#005000;
  color:light-dark(#005000,#a0e0a0);
  background-color:#c3ebc1;
  background-color:light-dark(#c3ebc1,#00371f);
}

.org-diff-indicator-added {
  color:#006700;
  color:light-dark(#006700,#279c40);
  background-color:#c3ebc1;
  background-color:light-dark(#c3ebc1,#00371f);
}

.org-diff-indicator-removed {
  color:#aa2222;
  color:light-dark(#aa2222,#f36649);
  background-color:#f4d0cf;
  background-color:light-dark(#f4d0cf,#450f1f);
}

.org-diff-removed {
  color:#8f1313;
  color:light-dark(#8f1313,#ffbfbf);
  background-color:#f4d0cf;
  background-color:light-dark(#f4d0cf,#450f1f);
}

.org-doc {
  color:#304463;
  color:light-dark(#304463,#8aa0df);
  font-style:italic;
}

.org-function-name {
  color:#602938;
  color:light-dark(#602938,#35afbf);
}

.org-number {
  color:#000000;
  color:light-dark(#000000,#b8c6d5);
}

.org-string {
  color:#00598b;
  color:light-dark(#00598b,#df9080);
}

.org-variable-name {
  color:#00603f;
  color:light-dark(#00603f,#6a9fff);
}
