.figure-number {
  display: none
}

img {
  border-radius: 10px;

  @media (prefers-color-scheme: light) {
    box-shadow: 0px 0px 5px var(--color-box-shadow);
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 10px var(--dark-color-box-shadow);
  }
}

.light img {
  box-shadow: 0px 0px 5px var(--color-box-shadow);
}

.dark img {
  box-shadow: 0 0 10px var(--dark-color-box-shadow);
}
