.recipe {
  inline-size: 100%;
  overflow: auto;
}

table {
  caption-side: top;

  caption {
    text-align: start;
    font-weight: bold;
    margin-block-end: 5px;
  }
}

td,th {
  vertical-align: middle;
  border: 1px solid;
  border-color: var(--color-border);
  border-color: light-dark(var(--color-border), var(--dark-color-border));
  min-width: 13ch;
}

td:not(:first-child) {
  background: oklch(from var(--color-taxodium-purple) l c h / calc(sibling-index() * 0.05));
}
