:root {
  --bg-fai-chun: lch(from #fc1f0d 25% 100% h / 70%);
}

h2 {
  text-align: center;
  width: 100%;
}

body,blockquote,.verse {
  font-family: "Special Elite", "Huiwen-mincho", var(--font-family);
}

.org-ul {
  padding-inline-start: 0;
  counter-reset: step;
  counter-set: step -1;
  transition: background .25s ease-in-out;
}

.org-ul li {
  counter-increment: step;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "chapter page";
  gap: 0 .5em;
  margin-block: 0.5em;

  &::after {
    grid-area: page;
    content:  counter(step);
    color: var(--color-border);
    color: light-dark(var(--color-border), var(--dark-color-border));
    font-size: 1.2em;
    text-align: end;
  }

  & a {
    grid-area: chapter;
    overflow: hidden;
    position: relative;

    &::after {
      position: absolute;
      content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
               ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
               ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      text-align: end;
      padding-left: .5em;
      color: var(--color-border);
      color: light-dark(var(--color-border), var(--dark-color-border));
    }
  }
}

.sitemap-subtitle {
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
  font-size: 0.85em;
}

.org-ul li .timestamp {
  display: none;
}

header + p {
  text-align: center;
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
}

header  {
  & h1{
    transition: text-shadow .25s ease-in-out;
    &:hover {
      text-shadow: rgb(124 124 209) -3px -3px 3px, var(--color-link-visited) 4px 4px 4px;
    }
  }
}


#postamble#postamble::before {
  display: none;
}


@media screen and (max-width: 400px) {
  #table-of-contents ul,
  #content :is(.org-ul) {
    padding-inline-start: 0;
  }
}
.quick-access {
  text-align: center;
  line-height: 1;
  font-family: Arial;
}

.quotes {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: var(--extra-active-area-size);
    left: var(--extra-active-area-size);
    right: var(--extra-active-area-size);
    bottom: var(--extra-active-area-size);
    cursor: pointer;
  }
}

.quotes:hover a {
  animation: unroll 1s;
}

.quick-access a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.9);
  }

  &.anime {
    filter: grayscale(1) brightness(0.75);
    transition: all .8s;
  }

  &.black-hole {
    padding-inline: .3em;
    cursor: none;
  }

  &:hover {
    background: unset;

    &.changelog {
      transform-origin: center bottom;
      animation: jelly .7s;
    }

    &.music-rank {
      animation: infinite play-cd 1s linear;
      transform-origin: 48% 45%;
    }

    &.black-hole {
      cursor: none;

      &::before {
        cursor: none;
      }
    }

    &.anime {
      filter: grayscale(0) brightness(120%);
    }

    &.tools {
      transform-origin: center center;
      animation: infinite heat-hammer .8s linear;
    }
  }

  /* 扩大 icon 的 hover 范围 */
  &::before {
    content: '';
    position: absolute;
    top: var(--extra-active-area-size);
    left: var(--extra-active-area-size);
    right: var(--extra-active-area-size);
    bottom: var(--extra-active-area-size);
    cursor: pointer;
  }

  &::after {
    display: none!important;
  }
}

@keyframes jelly {
  0% { transform: scale(1, 1); }
  30% { transform: scale(1.25, 0.75); }
  40% { transform: scale(0.75, 1.25); }
  50% { transform: scale(1.15, 0.85); }
  65% { transform: scale(0.95, 1.05); }
  75% { transform: scale(1.05, 0.95); }
  100% { transform: scale(1, 1); }
}

@keyframes play-cd {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes heat-hammer {
  0% { transform: rotateZ(-25deg); }
  100% { transform: rotateZ(15deg); }n
}

@keyframes unroll {
  0% { clip-path: inset(0 0 100% 0); opacity: 0; }
  100% { clip-path: inset(0 0 0 0); opacity: 1; }
}
