.org-ul {
  list-style: decimal-leading-zero;
  list-style-position: inside;
  padding-inline-start: 0;
  counter-reset: step;
}

.org-ul li {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  counter-increment: step;
  position: relative;

  &::before {
    content:  counter(step);
    color: var(--color-border);
    color: light-dark(var(--color-border), var(--dark-color-border));
    position: absolute;
    font-size: 1.2em;
    text-align: end;
    right: 0;
    z-index: -1;
  }

  & a {
    flex-shrink: 0;
  }

  & span {
    text-align: end;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column;

    & span {
      text-align: start;
    }
  }
}

.sitemap-subtitle {
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
  font-size: 0.8em;
}

.org-ul li .timestamp {
  display: none;
}

.org-ul li::marker {
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
}

header + p {
  text-align: center;
  color: var(--color-text-secondary);
}

p {
  font-family: "LXGW WenKai", Open Sans, Arial;
}

#postamble#postamble::before {
  display: none;
}

@media screen and (max-width: 400px) {
    #table-of-contents ul,
    #content :is(.org-ul) {
        padding-inline-start: 0;
    }
}
