.org-ul li {
    list-style: decimal-leading-zero;
    margin: 8px 0;
}

.org-ul li .timestamp {
    display: none;
}

.org-ul li::marker {
    color: var(--color-text-secondary);
    color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
}

header + p {
    text-align: center;
    color: var(--color-text-secondary);
}

p {
    font-family: "LXGW WenKai", Open Sans, Arial;
}

#postamble#postamble::before {
    display: none;
}
