:root {
  --org-src-container-width: calc(100vw - 3 * var(--padding-inline-body));
  --org-src-container-offset: min(0px, calc(-1 * var(--half-content-margin) + var(--padding-inline-body)));
}

.org-src-container {
  width: var(--org-src-container-width);
  transform: translateX(var(--org-src-container-offset));
}


section[role="note"],details {
  box-sizing: border-box;

  &:has(.org-src-container)[open] {
    width: var(--org-src-container-width);
    transform: translateX(var(--org-src-container-offset));

    & .org-src-container {
      transform: translateX(0);
      width: auto;
    }
  }
}

:where(.org-ol,.org-ul) {
  & :where(.org-src-container, details:has(.org-src-container), section[role="note"]:has(.org-src-container)) {
    --org-src-container-offset: min(0px, calc(-1 * var(--half-content-margin) + var(--padding-inline-body) - var(--padding-inline-list)));
  }
}
blockquote .org-src-container {
  --org-src-container-offset: min(0px, calc(-1 * var(--half-content-margin) + var(--padding-inline-body) - 1em));
}
