:root {
    --bg-color: #eee;
    --text-color: #454545;
    --text-secondary-color: #777;
    --border-color: #ddd;
    --link-color: #07a;
}
/** Regular version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.eot');
    src: local('Atkinson Hyperlegible'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** Bold version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.eot');
    src: local('Atkinson Hyperlegible Bold'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/** Italic version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.eot');
    src: local('Atkinson Hyperlegible Italic'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/** Bold Italic version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot');
    src: local('Atkinson Hyperlegible Bold Italic'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    color: var(--text-color);
    line-height: 1.5;
    background: var(--bg-color);
    margin: 20px auto;
    max-width: 650px;
    padding: 0 10px;
    font-family: "Atkinson Hyperlegible", Open Sans, Arial;
    background-image: url("/images/background/concrete-wall.png");
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

blockquote {
    margin: 1em 0;
    padding: 10px 15px;
    color: var(--text-secondary-color);
    border-left: 4px solid var(--border-color);
}

a {
    color: var(--link-color);
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/** 固定页眉在顶部，但是会影响链接跳转，遮盖链接位置 */
/* #preamble { */
/*   position: sticky; */
/*   top: 0; */
/*   background-image: radial-gradient(transparent 1px, var(--bg-color) 1px); */
/*   background-size: 4px 4px; */
/*   backdrop-filter: saturate(50%) blur(4px); */
/*   -webkit-backdrop-filter: saturate(50%) blur(4px); */
/*   z-index: 1; */
/*   padding: 8px 0; */
/* } */

#content img {
    width: 100%;
    height: auto;
    object-fit: contains;
}

#content iframe {
    width: 100%;
    min-height: 300px;
    border: 1px dashed var(--border-color);
}

code {
    background-color: var(--border-color);
    border-radius: 6px;
    padding: .2em .4em;
}


/* media query */
@media screen and (min-width: 900px) {
    html {
        font-size: 20px;
    }

    body {
        max-width: 90vw;
    }
}

@media screen and (min-width: 1300px) {
    /** 在这个宽度下，页面内容整体居中，观感比较好 */
    body {
        max-width: 1024px;
    }
}
