:root {
    --color-bg: #eee;
    --color-text: #454545;
    --color-text-secondary: #777;
    --color-border: #ddd;
    --color-link: #07a;
    --color-selection-background: #ffec8f;
    --color-selection-text: #454545;
    --font-family: "Atkinson Hyperlegible", "LXGW WenKai", Open Sans, Arial;
}

::selection {
    background: var(--color-selection-background);
    color: var(--color-selection-text)
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: outline-bounce .5s;
  }
}

@keyframes outline-bounce {
  0% { outline-offset: .25rem }
  50% { outline-offset: .5rem }
  100% { outline-offset: .25rem }
}

/** :focus-visible is a neat pseudo-class that only applies focus styles when users navigate with the keyboard. */
*:focus-visible {
  outline-color: currentColor;
  outline-style: solid;
  outline-offset: .25rem;
  outline-width: .25rem;
  border-radius: .25rem;
}

/** ---------------------------------- 'Atkinson Hyperlegible' ----- */
/** @see: https://www.brailleinstitute.org/freefont/ */
/** Regular version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.eot');
    src: local('Atkinson Hyperlegible'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** Bold version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.eot');
    src: local('Atkinson Hyperlegible Bold'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/** Italic version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.eot');
    src: local('Atkinson Hyperlegible Italic'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/** Bold Italic version */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot');
    src: local('Atkinson Hyperlegible Bold Italic'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'),
         url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.svg#Atkinson-Hyperlegible') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/** ---------------------------------- 'Atkinson Hyperlegible' ----- */

body {
    color: var(--color-text);
    line-height: 1.5;
    background: var(--color-bg);
    margin: 20px auto;
    max-width: 650px;
    padding: 0 10px;
    font-family: var(--font-family);
    background-image: url("/images/background/concrete-wall.png");
}

code {
    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

blockquote {
    margin: 1em 0;
    /** padding top/bottom = 0 will make <p> to collapse margin */
    padding: 0px 15px;
    color: var(--color-text-secondary);
    border-left: 4px solid var(--color-border);
}

a {
    color: var(--color-link);
}

#preamble nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    flex-wrap: wrap;
}

/** 固定页眉在顶部，但是会影响链接跳转，遮盖链接位置 */
/* #preamble { */
/*   position: sticky; */
/*   top: 0; */
/*   background-image: radial-gradient(transparent 1px, var(--color-bg) 1px); */
/*   background-size: 4px 4px; */
/*   backdrop-filter: saturate(50%) blur(4px); */
/*   -webkit-backdrop-filter: saturate(50%) blur(4px); */
/*   z-index: 1; */
/*   padding: 8px 0; */
/* } */

.content img {
    width: 100%;
    height: auto;
    object-fit: contains;
}

img.inline-image {
    width: 1em;
    height: 1em;
    vertical-align: -3.5px;
}


.content iframe {
    width: 100%;
    min-height: 300px;
    border: 1px dashed var(--color-border);
}

code {
    background-color: var(--color-border);
    border-radius: 6px;
    padding: .2em .4em;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    text-align: center;
}


summary {
  cursor: pointer;
}

pre.src {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
}

.ally-nav {
    position: absolute;
    top: -10rem;
    z-index: 10000;
    left: .5rem;
    right: .5rem;
}

.ally-nav a {
    background-color: #ffffffe6;
    font-weight: 600;
    left: 0;
    padding: .5rem;
    position: absolute;
    right: 0;
    text-align: center;
}

.ally-nav a:focus {
    box-shadow: 0 1px 2px #2b2a330d;
    text-decoration: none;
    top: 10rem;
}


/* media query */
@media screen and (min-width: 900px) {
    html {
        font-size: 20px;
    }

    body {
        max-width: 90vw;
    }
}

@media screen and (min-width: 1300px) {
    /** 在这个宽度下，页面内容整体居中，观感比较好 */
    body {
        max-width: 1024px;
    }
}
