#content p {
  text-indent: 2rem;
}

#content :where(blockquote,[role=note],.sidenote-content,.footpara) p {
  text-indent: 0rem;
}

#content :where(blockquote,[role=note],.sidenote-content,.footpara) {
  margin-inline-start: 2rem;
}
