/* @see: https://robertbirming.com/bear-halloween-theme/ */
:root {
  --color-link: #0A7E3A;
  --color-link-visited: #C41E3A;
  --dark-color-link: #32CD57;
  --dark-color-link-visited: #FF6B84;
  --snow-fall-color: #fff;
  --dark-snow-fall-color: rgb(255,255,255,.25);
}

body {
  &.dark {
    --snow-fall-color: var(--dark-snow-fall-color);

    .snow-icon::before {
      content: "️☽";
    }

    #snow-toggle:not(:checked) + .snow-icon {
      color: #FFD75F;
    }
  }

  &.auto {
    @media (prefers-color-scheme: dark) {
      .snow-icon::before {
        content: "️☽";
      }

      #snow-toggle:not(:checked) + .snow-icon {
        color: #FFD75F;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  --snow-fall-color: var(--dark-snow-fall-color);

  .snow-icon::before {
    content: "️☽";
  }

  #snow-toggle:not(:checked) + .snow-icon {
    color: #FFD75F;
  }
}

/* cursor */
body {
  cursor: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'>\
<text y='24' font-size='24'>🎄</text></svg>") 8 8, auto;
}

a:hover {
  cursor: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'>\
<text y='24' font-size='24'>🎅</text></svg>") 8 8, auto;
}

/* split line */
hr:nth-of-type(odd):before {
  content: '❅ ❅ ❅' ;
}

hr:nth-of-type(even):before {
  content: '☃ ☃ ☃ ' ;
}

#postamble::before {
  content: 'Have Yourself A Merry Little Christmas';

  @media screen and (width <= 400px) {
    font-size: 0.8em;
  }
}

/* -------------------- snow fall related  -------------------- */
#preamble nav {
  grid-template-columns: auto max-content max-content;
}

.snow-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
}

#snow-toggle {
  display: none;
}

#snow-toggle:not(:checked) + .snow-icon {
  color: #ffaa33;
}

#snow-toggle:checked + .snow-icon {
  color: #a0d2ff;
  transform: rotateY(180deg);
}

.snow-icon::before {
  content: "️☀";
  font-size: 1.5em;
}

#snow-toggle:checked + .snow-icon::before {
  content: "❆️";
}

snow-fall {
  display: none;
}

body:has(#snow-toggle:checked) snow-fall {
  display: block;
}

snow-fall {
  display: none;
}

#caravan {
  position: fixed;
  left: -160px;
  top: 7em;
  z-index: -1;
  display: none;
}

body:has(#snow-toggle:checked) #caravan {
  display: block;
  animation: anim-caravan linear 20s infinite;
}

@keyframes anim-caravan {
    0% { transform: translateX(0);     opacity: 1; }
   95% { transform: translateX(96vw);  opacity: 1; }
  100% { transform: translateX(100vw); opacity: 0; }
}
#caravan div {
  position: absolute;
  top: 0;
  color: #aaaaaa;
  animation: anim-reindeer ease 3.5s infinite;
}
@keyframes anim-reindeer {
    0% { transform: translateY(0); }
   50% { transform: translateY(.3em); }
  100% { transform: translateY(0); }
}
#caravan div:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 0;
  font-size: .6em;
}
#caravan div:after {
  content: "*";
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: .5em;
}
#caravan #sleigh:before {
  content: "J";
  transform: scaleX(1.2) rotate(90deg);
  font-size: .8em;
  color: var(--color-link-visited);
  color: light-dark(var(--color-link-visited), var(--dark-color-link-visited));
  top: 2px;
}
#caravan #sleigh:after {
  content: none;
}
#caravan #rudolph:before {
  color: var(--color-link-visited);
  color: light-dark(var(--color-link-visited), var(--dark-color-link-visited));
  left: 5px;
  top: 5px;
  text-shadow: 0 0 5px var(--color-link-visited),
               0 0 5px var(--color-link-visited),
               0 0 5px var(--color-link-visited),
               0 0 5px var(--color-link-visited),
               0 0 5px var(--color-link-visited),
               0 0 5px var(--color-link-visited),
               0 0 5px var(--color-link-visited);
  text-shadow: 0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited)),
               0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited)),
               0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited)),
               0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited)),
               0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited)),
               0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited)),
               0 0 5px light-dark(var(--color-link-visited), var(--dark-color-link-visited));
}
#caravan #rudolph:after {
  content: none;
}
